@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
  font-family: 'Libre Baskerville', serif;
 color: #f2e4bf;
}
body {
display: flex;
align-items: center;

  margin: 0;
 
 
  background-color: black;
  background-image: url("https://www.transparenttextures.com/patterns/black-lozenge.png");
 
  animation: gradient 20s ease infinite;
}



/* @media only screen and (max-width: 600px) {
  .logo {
    width: 100%;
  }
} */



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
.custom-btn {
  margin:30px 10px 10px 10px;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  color: #f2e4bf;
 
  font-weight: bold;
  font-size: 16px;
 
  cursor: pointer;
 
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.btn-4 {
  position: relative;
  color: #f2e4bf;
  background-color: black;
 border: solid #f2e4bf;
  line-height: 30px;
  padding: 0;
   
}
.btn-4:hover {
  background-color: #f2e4bf;
  color: black;
}
